body::-webkit-scrollbar {
  height: 0;
}

body {
  overflow: overlay;
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
  border: 3px solid #38373d;
  border-radius: 5px;
}

*::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
  background: #232325;
}

*::-webkit-scrollbar-corner {
  background: #232325;
}
