@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  line-height: 1.5;
}

@media print {
  html {
    font-size: 12px;
  }
}

.prose {
  max-width: 100% !important;

  p {
    @apply break-words;
  }
}

*:focus {
  outline: none;
}

*:not(input):not(textarea):not([contenteditable='true']):focus-visible {
  outline: 0 !important;
  box-shadow: '#33A6B8' 0px 0px 0px 2px;
}

.prose {
  :where(.image-placeholder):not(:where([class~='not-prose'] *)) {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  figure img {
    @apply mb-0 mt-0;
  }
}

@media print {
  /* styles for print */
  html.noise body::before {
    display: none;
  }
}

* {
  tab-size: 2;
}

input,
textarea {
  font-size: max(16px, 1rem);
}

a {
  @apply break-all;
}

@screen lg {
  input,
  textarea {
    font-size: 1rem;
  }
}

@layer components {
  .scrollbar-none::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}

.prose p:last-child {
  margin-bottom: 0;
}
